.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem
}

.post + .post {
    margin-top: 2rem;
} 

.title {
    font-size: 1.75rem;
    color: var(--gray-100);
}

.title a {
    color: var(--green-500);
    text-decoration: none;
}

.title a:hover {
    color: var(--green-300);
}   

.description {
    margin-top: 1rem;
    line-height: 1.6;
    color: var(--gray-400);
}

.content {
    margin-top: 1.5rem;
    line-height: 1.6;
    color: var(--gray-300);
}       

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {              
    color: var(--green-300);    
}                           

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.post > header a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--gray-400);
    font-size: 0.875rem;
}

.post > header a:hover {
    color: var(--green-500);
}

.post > header a:hover svg {
    color: var(--green-500);
}                                                          

.author {
    display: flex;
    align-items: center;        
}

.authorInfo {
    margin-left: 1rem;
}

.authorInfo strong {
    display: block;            
    color: var(--gray-100);
    line-height: 1.6;
}   

.authorInfo strong:hover {
    color: var(--green-500);
}

.authorInfo span:hover {
    color: var(--green-500);
}

.authorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}   

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}
   
.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea:focus {
    outline: 2px solid var(--green-500);
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.1s;
}

.commentForm textarea {
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;          
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm button[type=submit]:hover {
    background: var(--green-300);
}   

.comment {
    margin-top: 2rem;
}                           

.comment > div {
    display: flex;
    gap: 1rem;
}           

.comment > div img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.commentBox {           
    flex: 1;
}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.commentContent header button { 
    background: transparent;
    border: 0;      
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
}

.commentContent header button:hover {           
    color: var(--red-500);
}                                   

.commentContent p {             
    color: var(--gray-300);
}               

.commentContent footer {        
    margin-top: 1rem;
}

.commentContent footer time {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
}   

.commentList {
    margin-top: 2rem;
}